<html>
  <!--The Head-->
  <head>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Arsenal|Englebert|Marmelad" rel="stylesheet">
    <!--Fontawesome -->
    <script src="https://use.fontawesome.com/ce91d4c077.js"></script>
    <!--Viewport metatag -->
    <meta name="viewport"content="width=device-width,initial-scale=1" />
    <!--CSS Style Sheet-->
    <link href="style.css" rel="stylesheet" type="text/css" />
    <!-- Gridlex -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gridlex/2.2.5/gridlex.min.css">
  </head>

  <body>
    <!--The Header-->
    <header>
      <nav>
        <a href="Fashion"> Fashion </a>
        <a href="Food"> Food </a>
        <a href="/" class="logo"> Bali Travel Diaries...</a>
        <a href="Fun"> Fun </a>
        <a href="IOC"> IOC </a>
      </nav>
    </header>
    <!--Content-->
    {{content}}
    <!--The Footer-->
    <footer>
      <div>
        <div>
          #followmeto <i class="fa fa-instagram label-icon" aria-hidden="true"></i> @QueenArshi
        </div>
        <div>
          <!-- LightWidget WIDGET -->
          <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/b66f8e0d765458f09b3b78586187dff5.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
        </div>
      </div>
    </footer>
  </body>
</html>
